@model Cineplex.ViewModels.ShowVm
@{
    ViewData["Title"] = "EditTicket";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit-Ticket</h1>

<div class="row">
    <div class="col-md-3">
        <div class="form-group">
            <label class="control-label" for="ShowName">Show-Name</label>
            <input class="form-control" type="text" id="ShowName" name="ShowName" value="@Model.ShowName" readonly>
        </div>
    </div>
    <div class="col-md-3">
        <input type="hidden" id="HallId" name="HallId" value="@Model.HallId" />
        <input type="hidden" id="SeatPlans" name="SeatPlans" />
        <input type="hidden" id="Seats" name="Seats" value="@Model.Hall.SeatPlans.Count" />
        <div class="form-group">
            <label class="control-label" for="HallName">Hall-Name</label>
            <input class="form-control" type="text" id="HallName" name="HallName" value="@Model.Hall.HallName" readonly>
        </div>
    </div>
    <div class="col-md-3">
        @* <div class="form-group">
            <label class="control-label" for="Column">Column</label>
            <input class="form-control" type="text" id="Column" name="Column" value="@Model.Hall.Column" readonly>
        </div> *@
    </div>
    <div class="col-md-3">
        @* <div class="form-group">
            <label class="control-label" for="Row">Row</label>
            <input class="form-control" type="text" id="Row" name="Row" value="@Model.Hall.Row" readonly>
        </div> *@
    </div>
    <div class="col-md-3">
        @* <input type="button" value="Generate Seat" onclick="generateSit()"> *@
    </div>
</div>
<br />
<div class="row">
    <div class="col-md-12">
        @* <div id="screen" style="
  background-color: lightgrey;
  width: 95%;
  border: 5px solid green;
  padding: 50px;
  margin: 20px;
  text-align: center;
  ">
            Screen
        </div> *@
        @* <table border="1" width="100%" id="sits" style="text-align:center"></table> *@
        @* <input type="button" value="Save" onclick="editSit()"> 
        <label id="isChange" style="display:none">Change</label> *@
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        @{
            int i = 0;
        }
        @foreach(var item in Model.ShowDetails)
        {
            <span>|&nbsp;</span>

            @* <a href="Shows/BuyTicket/@item.ShowDetailsId">@item.SeatNumber</a> *@
            <a asp-action="BuyTicket" asp-route-id="@item.ShowDetailsId" onclick="return confirm('Are you sure to save?')">
                @if (item.IsBooked == true)
                {
                    <span style="color:lightgreen">@item.SeatNumber</span>
                }
                else
                {
                    <span style="color:palevioletred">@item.SeatNumber</span>
                }
            </a>
            <span>&nbsp;|</span>

            i++;
            @if(Model.Hall.Column == i)
            {
                i = 0;
                <br/>
            }
        }
    </div>
</div>
<hr />
<div>
    <a asp-action="Index">Back to List</a>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function() {
        // Your code here
        console.log("Document is ready!");
        //generateSit();
    });

    function generateSit(){
       var HallId = document.getElementById('HallId').value;
       var Column = document.getElementById('Column').value;
       var Row = document.getElementById('Row').value;
       var listSit = [];

       var tb = '';
       for(var r = 0; r<Row;r++){

           var tr = '<tr>';
           for(var c = 0; c<Column;c++){

                let char = String.fromCharCode(65 + c); // returns 'A'

                var rowNumber = 1 + r;
                var SeatNumber = char + rowNumber;
                var tds = '<td><a href="#">'+SeatNumber+'</a></td>';
                tr += tds;
                listSit.push({
                    HallId:HallId,
                    SeatNumber:SeatNumber,
                    Price:0,
                    SeatPlanId:0,
                    RowNumber:rowNumber
                });


           }
           tr += '</tr>';
           tb += tr;
        }
       console.log(listSit);
       document.getElementById('SeatPlans').value = JSON.stringify(listSit);
       document.getElementById('sits').innerHTML = tb;
       var Seats = parseInt(document.getElementById('Seats').value);
       // if(Seats == listSit.length){
       //     document.getElementById("isChange").style.display = "block";
       // }
    }

    /*function editSit(){
       var HallId = document.getElementById('HallId').value;
       var Column = document.getElementById('Column').value;
       var Row = document.getElementById('Row').value;
       var SeatPlans = JSON.parse(document.getElementById('SeatPlans').value);
        $.ajax({
        type: "POST",
        url: "/Halls/EditSit", // controller/action
        data: {
            HallId: HallId,
            Column: Column,
            Row: Row,
            SeatPlans: SeatPlans,
        },
        success: function (response) {
            console.log(response.message);
            alert(response.message);
        },
        error: function () {
            alert("Error calling controller");
        }
        });
    }*/

</script>

