@model Cineplex.ViewModels.HallVm
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h3>Set Ticket Price By Row</h3>
<h4>Hall: @Model.HallName</h4>
<input type="hidden" name="HallId" id="HallId" value="@Model.HallId" />
<input type="hidden" name="Row" id="Row" value="@Model.Row" />
<input type="hidden" name="Column" id="Column" value="@Model.Column" />
<input type="hidden" id="Seats" name="Seats" value="@Model.SeatPlans.Count" />
<table>
    @for (var i = 0; i < Model.Row; i++)
    {
        var RowNumber = i + 1;
        int? price = 0;
        var oSeatPlan = (from x in Model.SeatPlans where x.RowNumber == RowNumber select x).FirstOrDefault();
        if (oSeatPlan != null)
        {
            price = oSeatPlan.Price;
        }
        <tr>
            <td>Row-@RowNumber</td>
        <td>
            <input type="hidden" name="RowNumber" value="@RowNumber" />
            <input type="number" name="Price" value="@price" style="text-align:right" />
        </td>
    </tr>
}
</table>
<input type="button" value="Save" onclick="editPrice()">
<div>
    <a asp-action="Index">Back to List</a>
</div>

<script>
    function editPrice(){
       var HallId = document.getElementById('HallId').value;
       var Column = parseInt(document.getElementById('Column').value);
       var Row = parseInt(document.getElementById('Row').value);

       var Seats = parseInt(document.getElementById('Seats').value);
       var seatsTotal = Column * Row;
       if(Seats != seatsTotal){
           alert('alert! setup seats first.');
           return;
       }
       
       var RowNumbers = document.getElementsByName('RowNumber');
       var Prices = document.getElementsByName('Price');
       var SeatPlans = [];
       for(var i =0; i < RowNumbers.length; i++){
           SeatPlans.push({
               RowNumber:RowNumbers[i].value,
               Price:Prices[i].value,
               HallId:HallId
           });
       }
        $.ajax({
        type: "POST",
        url: "/Halls/EditPrice", // controller/action
        data: {
            HallId: HallId,
            Column: Column,
            Row: Row,
            SeatPlans: SeatPlans,
        },
        success: function (response) {
            console.log(response.message);
            alert(response.message);
        },
        error: function () {
            alert("Error calling controller");
        }
        });
    }
</script>